@font-face {
	font-family: got;
	/* Имя шрифта */
	src: url('./../fonts/8573.ttf');
	/* Путь к файлу со шрифтом */
}

@font-face {
	font-family: gotb;
	/* Имя шрифта */
	src: url('./../fonts/Gotham Bold.otf');
	/* Путь к файлу со шрифтом */
}

@font-face {
	font-family: gotbook;
	/* Имя шрифта */
	src: url('./../fonts/GothamBook.ttf');
	/* Путь к файлу со шрифтом */
}

* {
	transition: all 0.05s;
}

.con {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.tal {
	text-align: left;
}

.header-section {
	background-image: url('./../img/header/fon.gif'); //    background-position: center center;
	background-size: cover;
	.header-section__top {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		.con {
			display: flex;
			flex-flow: row;

			.header-section__top__logo {
				width: 25%;
				padding-top: 23px;
			}
			.header-section__top__menu {
				width: 61%;
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					align-items: center;
					line-height: 115px;
					li {
						padding: 0 15px;
						display: inline-block;
						height: 118px;
						border-bottom: 4px solid transparent;
						&:hover {
							border-bottom: 4px solid #11749e;
						}
						a {
							text-decoration: none;
							color: white;
							font-size: 20px;
							font-family: gotbook;
							font-weight: 200;
							display: block;

						}
					}
				}
			}

			.header-section__top__social {
				flex: 1;
				line-height: 115px;
				a {
					color: white;
					font-size: 20px;
					margin-left: 24px;
					&:nth-child(2) {
						margin-left: 34px;
					}
					&:first-child {
						margin: 0;
					}
				}
			}
		}
	}
	.header-section__content {
		padding-top: 275px;
		padding-bottom: 110px;
		h1,
		h2,
		p {
			margin: 0;
			padding: 0;
		}
		h1 {
			font-size: 152px;
			font-family: gotb;
			color: white;
			text-transform: uppercase;

		}
		h2 {
			font-size: 24.79px;
			font-family: got;
			color: white;
			color: #11749e;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 21px;
			padding-bottom: 120px;
		}
		p {
			font-size: 13px;
			color: white;
			font-family: got;
			padding-bottom: 22px;
		}
	}

}

.featured-section {
	padding-top: 100px;
	padding-bottom: 130px;
	background-color: #11749e;
	h1,
	h2,
	p {
		margin: 0;
		padding: 0;
	}
	.featured-section__title {
		position: relative;
		h1 {
			font-size: 247px;
			color: #3c8daf;
			font-family: gotb;
		}
		.featured-section__title__text {
			position: absolute;
			top: 125px;
			left: 295px;
			p {
				font-size: 37.55px;
				color: white;
				font-family: gotb;
				text-transform: uppercase;
			}
		}
	}
	.featured-section__items {
		//		display: flex;
		//		flex-direction: row;
		.featured-section__items__item {
			//			width: 23%;
			//			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}

			.featured-section__items__item__img {
				margin: 0 auto;
				width: 133px;
				height: 133px;
				background-color: #2e85aa;
				display: flex;
				justify-content: center;
				border-radius: 50%;
				margin-bottom: 25px;
				img {
					align-self: center;
				}
			}
			h2 {
				font-family: got;
				font-size: 20px;
				text-transform: uppercase;
				color: white;
				margin-bottom: 35px;
			}
			p {
				font-family: gotbook;
				font-size: 15px;
				color: white;
			}
		}
	}
}

.news-section {
	.news-section__row1 {
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		.news-section__row1__news {
			box-sizing: border-box;
			background-color: #222222;
			color: white;
			padding: 85px 120px 116px 200px;
			width: 50%;
			h2,
			h3,
			p {
				margin: 0;
				padding: 0;
			}
			h3 {
				font-family: gotbook;
				font-size: 13px;
				margin-bottom: 20px;
			}
			h2 {
				font-family: got;
				font-size: 25px;
				margin-bottom: 45px;
				text-transform: uppercase;
			}
			p {
				font-family: gotbook;
				font-size: 15px;
				margin-bottom: 35px;
			}
			.last {
				font-family: gotbook;
				font-size: 15px;
				margin-bottom: 0;
			}

		}
		.news-section__row1__img {
			width: 50%;
			background-image: url('./../img/section2/1.gif');
			background-size: cover;
		}

	}
	.news-section__row2 {
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		.news-section__row2__news {
			box-sizing: border-box;
			background-color: white;
			color: #222222;
			padding: 85px 120px 116px 200px;
			width: 50%;
			h2,
			h3,
			p {
				margin: 0;
				padding: 0;
			}
			h3 {
				font-family: gotbook;
				font-size: 13px;
				margin-bottom: 20px;
			}
			h2 {
				font-family: got;
				font-size: 25px;
				margin-bottom: 45px;
				text-transform: uppercase;
			}
			p {
				font-family: gotbook;
				font-size: 15px;
				margin-bottom: 35px;
			}
			.last {
				font-family: gotbook;
				font-size: 15px;
				margin-bottom: 0;
			}

		}
		.news-section__row2__img {
			width: 50%;
			background-image: url('./../img/section2/1.gif');
			background-size: cover;
		}

	}
}

.blog-section {
	padding-top: 95px;
	padding-bottom: 115px;
	h1,
	h2,
	p {
		margin: 0;
		padding: 0;
	}
	.blog-section__title {
		position: relative;
		margin-bottom: 80px;
		h1 {
			font-size: 247px;
			color: #d7d7d7;
			font-family: gotb;
		}
		.blog-section__title__text {
			position: absolute;
			left: 470px;
			top: 120px;
			p {
				text-transform: uppercase;
				font-size: 37.55px;
				font-family: gotb;
			}
		}
		h2 {
			font-size: 30px;
			font-family: gotbook;

		}
	}
	.blog-section__items {
		//		display: flex;
		//		flex-flow: row;
		justify-content: space-between;
		.blog-section__items__item {
			//			width: 23%;
			.blog-section__items__item__img {
				margin-bottom: 45px;
				img {
					height: 100%;
					width: 100%;
				}
			}
			h2 {
				font-size: 18px;
				font-family: got;
				text-transform: uppercase;
				color: #11749e;
				margin-bottom: 28px;
			}
			p {
				font-size: 15px;
				font-family: gotbook;
				color: black;

			}
		}
	}

}

.notes-section {
	background-color: #11749e;
	padding: 115px 0px;
	.notes-section__content {
		//		display: flex;
		//		flex-direction: row;
		//		flex-wrap: nowrap;
		//		justify-content: space-between;
		.notes-section__content__block {
			//			width: 50%;
			display: flex;
			justify-content: space-between;
			.notes-section__content__block__img {}
			.notes-section__content__block__description {
				padding-left: 30px;
				box-sizing: border-box;
				p {
					color: white;
					font-size: 15px;
					font-family: gotbook;
					margin: 0;
				}
			}
		}


	}
}

.feedback-section {
	padding-top: 145px;
	padding-bottom: 100px;
	background-image: url('./../img/section5/fon.gif');
	background-repeat: no-repeat;
	background-size: cover;
	.feedback-section__title {
		position: relative;
		h1 {
			font-size: 247px;
			color: white;
			opacity: 0.5;
			text-transform: uppercase;
			margin: 0;
			font-family: gotb;
		}
		.feedback-section__title__text {
			position: absolute;
			top: 120px;
			left: 160px;
			p {
				margin: 0;
				padding: 0;
				font-size: 37px;
				text-transform: uppercase;
				color: white;
				font-family: got;
			}
		}
	}
	.feedback-section__form {
		width: 100%;
		.feedback-section__form__input {
			display: flex;
			flex-flow: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-bottom: 40px;
			input {
				width: 32%;
				background-color: transparent;
				border: 1px solid white;
				padding: 15px;
				color: white;
				box-sizing: border-box;
				&:focus {
					outline: none;
				}
			}
		}
		.feedback-section__form__area {
			margin-bottom: 40px;
			textarea {
				resize: none;
				width: 100%;
				background-color: transparent;
				border: 1px solid white;
				padding: 15px;
				color: white;
				box-sizing: border-box;
				&:focus {
					outline: none;
				}
			}
		}
		.feedback-section__form__btn {
			button {
				text-transform: uppercase;
				color: white;
				padding: 15px 40px;
				box-sizing: border-box;
				background-color: #11749e;
				font-family: gotb;
				border: none;
			}
		}
	}
}

.footer-section {
	#map {
		margin-bottom: -5px;

	}
	.footer-section__bottom {
		background-color: #222222;
		padding: 80px 0;
		.footer-section__bottom__content {
			display: flex;
			justify-content: space-between;
			.footer-section__bottom__content__left {
				p {
					color: white;
					font-family: got;
					margin: 0;
				}
			}
		}
	}
}
